---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.page-header {
    color: #fff;
    text-align: center;
    background-color: #66CCCC; /* 155799*/
    background-image: linear-gradient(120deg, #66CCCC, #32A1CC); /* 0E9BC6*/
}


h1, h2, h3 {
  font-family: 'Lobster', cursive;
}

h2 {
  font-size: 2em;
  margin-top: 1.5em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
}

.flex-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.profile  {
  max-width: 300px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 280px;
  margin: 10px;
  text-align: center;
  font-family: arial;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 16px 16px;
}

.container h4 {
  margin-bottom: 0.5rem;
}

/* @media screen and (max-width: 900px) {
    .flex-container {
      display: flex;
      flex-direction: column;
    }
    .profile  {
      max-width: 300px;
    }
    .card {
      max-width: 280px;
    }

}
*/
