---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: none;
    /* background-image: linear-gradient(
120deg
, #155799, #159957); */
}


h1 {
  font-family: 'Lobster', cursive;
}


h2 .project-tagline {
  background-image:url('https://user-images.githubusercontent.com/65692508/115466796-68a29400-a1e5-11eb-8ceb-4d0e04d2450e.png');
  height: 300px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: stretch;
}

.flex-items {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.profile  {
  max-width: 300px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 280px;
  margin: 10px;
  text-align: center;
  font-family: arial;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 16px 16px;
}

.container h4 {
  margin-bottom: 0.5rem;
}
